<!DOCTYPE html>
<html>
  <head>
    <title>Baazaar</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fluid header">
      <h3 class="container">Baazaar <h4 class="container">a market place website, powered by Expressjs, Waterlinejs and EJS</h4></h2>
    </div>

    <div class="container form col-4">
        <h3>Please fill out fields below to login.</h3>
        <br>
        <form action="" method="post">
            <div class="form-group">
                <label for="emailAddress">Email Address:</label>
                <input type="email" class="form-control" name="email">
                <br>
                <label for="password">Password:</label>
                <input type="password" class="form-control" name="password">
                <br>
                <button type="submit" class="btn btn-success">Submit</button>
            </div>
        </form>
    </div>
  </body>
</html>
